* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.fullscreen-image {
    background-image: url('images/criancas-em-tiro-medio-segurando-baloes_23-2149073595.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
}

.nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-link:hover,
.menu-item:hover {
    color: #FFD700; /* Amarelo para destacar o hover */
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

a.learn-more {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

a.learn-more:hover {
    background-color: white;
    color: black;
}

/* Quem Somos */
.about-section {
    padding: 40px 20px;
    background-color:   #ffffff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    text-align: center; /* Centraliza o conteúdo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px 0; /* Margem acima e abaixo da seção */
}

.about-section h2 {
    font-size: 2.5em; /* Tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: red; /* Cor do título */
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
}

.about-section p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-bottom: 20px; /* Espaço abaixo dos parágrafos */
    max-width: 800px; /* Largura máxima para os parágrafos */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    text-align: justify; /* Justifica o texto */
}

.link-passatempo {
    display: inline-block; /* Exibe como bloco */
    margin-top: 15px; /* Espaço acima do link */
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave */
}

.link-passatempo:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o botão "Passatempo Educativo" */
.link-passatempo {
    display: inline-block;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.link-passatempo:hover {
    background-color: white;
    color: #007BFF;
}

/* Estilo para o grid de cartões */
.grid {
    display: flex;
    gap: 20px; /* Espaçamento entre os cartões */
    flex-wrap: wrap; /* Para o grid se ajustar em telas menores */
    justify-content: center; /* Centraliza os cartões */
    margin-top: 30px; /* Espaço entre o botão e o grid */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 0; /* Remover padding para a imagem ocupar todo o cartão */
    text-align: center;
    max-width: 300px; /* Aumentar a largura máxima dos cartões */
    height: 280px; /* Definir altura fixa para os cartões */
    flex: 1 1 220px; /* Flexibilidade para se ajustar em telas menores */
    transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição ao passar o mouse */
}

.card:hover {
    transform: translateY(-5px); /* Levanta o cartão ao passar o mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}

.card img.foto {
    width: 100%; /* A imagem ocupa toda a largura do cartão */
    height: 100%; /* A imagem ocupa toda a altura do cartão */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível sem distorcer */
    border-radius: 10px; /* Mantém as bordas arredondadas do cartão */
    margin-bottom: 0; /* Remover margem para a imagem */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .grid {
        flex-direction: column; /* Coloca os cartões em coluna em telas menores */
        align-items: center; /* Centraliza os cartões */
    }
}

/* Seção Recreatur */
.recreatur-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    background-color: #ffffff; /* Fundo claro para destacar a seção */
    padding: 40px 20px; /* Espaçamento interno */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.recreatur-content {
    flex: 1;
    max-width: 600px; /* Largura máxima para melhor legibilidade */
}

.recreatur-section h3 {
    font-size: 2.5em;
    color: red;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
}

.recreatur-section p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px; /* Espaçamento entre os parágrafos */
}

.highlight {
    color: red; /* Cor destacada para palavras importantes */
    font-weight: bold; /* Texto em negrito */
}

/* Finalista */
.finalista-section {
    display: flex; /* Usar flexbox para alinhar os itens lado a lado */
    align-items: center; /* Alinhar verticalmente no centro */
    margin: 20px; /* Margem ao redor da seção */
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.finalista-section img {
    max-width: 300px; /* Ajuste conforme necessário */
    margin-left: 20px; /* Espaçamento à esquerda da imagem */
    border-radius: 5px; /* Cantos arredondados na imagem */
}

.finalista-section p {
    font-size: 1.5em; /* Tamanho da fonte do parágrafo */
    color: #333; /* Cor do texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-top: 0; /* Remover margem superior */
    flex: 1; /* Permitir que o parágrafo ocupe espaço restante */
}

/* Temas Anuais*/
.temas-anual-section {
    padding: 40px 20px; /* Adiciona um espaçamento interno */
    text-align: center; /* Centraliza o texto */
    margin: 20px; /* Margem ao redor da seção */
    padding: 20px; /* Espaçamento interno */
    background-color:   #ffffff; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.temas-anual-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red; /* Cor do título */
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
}

.temas-anual-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    
    .nav-links {
        top: 10px;
        right: 10px;
        font-size: 1em;
    }
    
    .logo {
        top: 10px;
        left: 10px;
        width: 150px;
    }

    .recreatur-content, .imagem-recreatur {
        margin: 0;
        flex: 1 1 100%;
    }
}
/*Menu e Contato*/
.menu {
    position: relative;
    margin-left: 15px; /* Espaço entre o link Contato e o Menu */
}

.menu-item {
    cursor: pointer;
    color: white; /* Cor do texto do menu */
    font-size: 1.2em;
}

.submenu {
    display: none; /* Oculta o submenu inicialmente */
    position: absolute;
    background-color: white; /* Cor de fundo do submenu */
    color: black; /* Cor do texto no submenu */
    padding: 10px; 
    border: 1px solid #ccc; /* Borda do submenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Para garantir que o submenu fique sobre outros elementos */
    top: 100%; /* Posiciona logo abaixo do menu */
    left: 50%; /* Move o submenu para o meio do menu */
    transform: translate(-90%, 0); /* Ajusta para a esquerda, mantendo a borda direita no centro */
    width: 220px; /* Largura do submenu */
    border-radius: 5px; /* Bordas arredondadas para um efeito mais suave */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Suaviza a transição de aparecimento */
    opacity: 0; /* Começa invisível */
    visibility: hidden; /* Esconde completamente */
}

.menu-item:hover .submenu {
    display: block; /* Exibe o submenu ao passar o mouse */
    opacity: 1; /* Torna visível */
    visibility: visible; /* Torna visível */
}

/* Estilos para os itens do submenu */
.submenu a {
    display: block; /* Cada item do submenu ocupa toda a largura */
    padding: 10px; /* Espaçamento interno */
    color: black; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    transition: background-color 0.3s, color 0.3s; /* Suaviza a transição de fundo e cor */
}

.submenu a:hover {
    background-color: #007BFF; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}
/*Carrossel de fotos*/
.circle {
    width: 500px; /* Tamanho do círculo */
    height: 500px; /* Tamanho do círculo */
    background-color: red; /* Cor do círculo */
    border-radius: 50%; /* Forma circular */
    margin: 40px auto; /* Espaçamento acima e abaixo */
    float: right; /* Mover o círculo para a direita */
    margin-right: 80px; /* Aumenta o valor para mover mais para a esquerda */
}