* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.fullscreen-image {
    background-image: url('images/criancas-em-tiro-medio-segurando-baloes_23-2149073595.avif');
    background-size: cover; /* Cobrir toda a área sem repetir */
    background-position: center;
    background-repeat: no-repeat; /* Não repetir a imagem */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}

/* Ajustes para dispositivos menores */
@media (max-width: 768px) {
    .fullscreen-image {
        background-size: cover; /* Melhor uso de cover para garantir cobertura total */
        height: 70vh; /* Altura reduzida para telas menores */
        padding: 20px; /* Adiciona espaço ao redor do conteúdo */
    }
}

/* Ajustes para dispositivos muito pequenos, como celulares */
@media (max-width: 480px) {
    .fullscreen-image {
        background-size: cover; /* Continua usando cover */
        background-position: top; /* Ajusta para mostrar o topo da imagem */
        height: 60vh;
        padding: 15px;
    }
}


.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    transition: width 0.3s; /* Suaviza a transição do tamanho da logo */
}

.nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.nav-link:hover,
.menu-item:hover {
    color: #FFD700; /* Amarelo para destacar o hover */
}

.content {
    text-align: center;
    color: white;
    padding: 20px; /* Adiciona espaço ao redor do conteúdo */
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

a.learn-more {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

a.learn-more:hover {
    background-color: white;
    color: black;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .logo {
        width: 150px; /* Reduz o tamanho da logo em telas menores */
    }

    .nav-links {
        position: static; /* Remove a posição absoluta */
        display: flex;
        flex-direction: column; /* Alinha os links em coluna */
        gap: 10px;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 1em; /* Diminui o tamanho da fonte */
    }

    h1 {
        font-size: 3em; /* Ajusta o tamanho do título */
    }

    a.learn-more {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .logo {
        width: 120px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center; /* Centraliza os links de navegação */
    }

    .nav-link {
        font-size: 0.9em;
    }

    h1 {
        font-size: 2.5em;
    }

    a.learn-more {
        font-size: 1em;
        padding: 6px 12px;
    }
}

/* Quem Somos */
.about-section {
    padding: 40px 20px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red;
    font-family: 'Arial', sans-serif;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.link-passatempo {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-passatempo:hover {
    background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .about-section {
        padding: 30px 15px; /* Reduz o padding */
    }

    .about-section h2 {
        font-size: 2em; /* Reduz o tamanho do título */
    }

    .about-section p {
        font-size: 1.1em; /* Reduz o tamanho do texto */
        max-width: 90%; /* Ajusta a largura máxima em telas menores */
    }

    .link-passatempo {
        padding: 8px 16px; /* Ajusta o padding do botão */
        font-size: 1em; /* Reduz o tamanho da fonte do botão */
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .about-section {
        padding: 20px 10px;
    }

    .about-section h2 {
        font-size: 1.8em;
    }

    .about-section p {
        font-size: 1em;
    }

    .link-passatempo {
        padding: 6px 12px;
    }
}

/* Estilo para o botão "Passatempo Educativo" */
.link-passatempo {
    display: inline-block;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.link-passatempo:hover {
    background-color: white;
    color: #007BFF;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .link-passatempo {
        font-size: 1.1em; /* Reduz o tamanho da fonte */
        padding: 8px 16px; /* Ajusta o padding */
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .link-passatempo {
        font-size: 1em;
        padding: 6px 12px;
    }
}


/* Estilo para o grid de cartões */
.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    text-align: center;
    max-width: 300px;
    height: 280px;
    flex: 1 1 220px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card img.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0;
}


/* Responsividade para telas médias */
@media (max-width: 768px) {
    .grid {
        gap: 15px; /* Reduz o espaçamento entre os cartões */
    }

    .card {
        height: 240px; /* Reduz a altura dos cartões */
        max-width: 100%; /* Cartões ocupam toda a largura disponível */
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .grid {
        flex-direction: column; /* Coloca os cartões em coluna */
        gap: 10px; /* Reduz ainda mais o espaçamento */
    }

    .card {
        height: 200px; /* Reduz a altura dos cartões */
        padding: 0; /* Remove padding adicional em telas pequenas */
    }

    .card img.foto {
        border-radius: 8px; /* Reduz o raio das bordas */
    }
}
/* Estilos do Modal */
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin-top: 15px;
    color: #ccc;
    font-size: 1.2em;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #f44336;
    text-decoration: none;
    cursor: pointer;
}


/* Seção Recreatur */
.recreatur-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recreatur-content {
    flex: 1;
    max-width: 600px;
}

.recreatur-section h3 {
    font-size: 2.5em;
    color: red;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.recreatur-section p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.highlight {
    color: red;
    font-weight: bold;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .recreatur-section {
        padding: 30px 15px; /* Reduz o padding */
    }

    .recreatur-section h3 {
        font-size: 2em; /* Reduz o tamanho do título */
    }

    .recreatur-section p {
        font-size: 1.1em; /* Reduz o tamanho da fonte dos parágrafos */
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .recreatur-section {
        padding: 20px 10px; /* Reduz ainda mais o padding */
    }

    .recreatur-section h3 {
        font-size: 1.8em; /* Reduz mais o tamanho do título */
    }

    .recreatur-section p {
        font-size: 1em; /* Reduz o tamanho da fonte dos parágrafos */
    }
}


/* Finalista */
.finalista-section {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.finalista-section img {
    max-width: 300px;
    margin-left: 20px;
    border-radius: 5px;
}

.finalista-section p {
    font-size: 1.5em;
    color: #333;
    line-height: 1.6;
    margin-top: 0;
    flex: 1;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .finalista-section {
        flex-direction: column; /* Empilha a imagem e o texto verticalmente */
        text-align: center; /* Centraliza o conteúdo */
        padding: 15px; /* Reduz o padding */
    }

    .finalista-section img {
        margin-left: 0; /* Remove a margem esquerda */
        margin-bottom: 15px; /* Adiciona margem inferior para separar da descrição */
        max-width: 80%; /* Ajusta a largura da imagem */
    }

    .finalista-section p {
        font-size: 1.2em; /* Reduz o tamanho da fonte */
    }
}

/* Responsividade para telas muito pequenas (celulares) */
@media (max-width: 480px) {
    .finalista-section {
        padding: 10px; /* Reduz ainda mais o padding */
    }

    .finalista-section p {
        font-size: 1em; /* Reduz mais o tamanho da fonte para caber melhor na tela */
    }
}


/* Temas Anuais*/
.temas-anual-section {
    padding: 40px 20px; /* Adiciona um espaçamento interno */
    text-align: center; /* Centraliza o texto */
    margin: 20px; /* Margem ao redor da seção */
    padding: 20px; /* Espaçamento interno */
    background-color:   #ffffff; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.temas-anual-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: red; /* Cor do título */
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
}

.temas-anual-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    
    .nav-links {
        top: 10px;
        right: 10px;
        font-size: 1em;
    }
    
    .logo {
        top: 10px;
        left: 10px;
        width: 150px;
    }

    .recreatur-content, .imagem-recreatur {
        margin: 0;
        flex: 1 1 100%;
    }
}
/* Menu e Contato                                                               ESSA PARTE TA COM PROBLEMA*/
.menu {
    position: relative;
    margin-left: 15px; /* Espaço entre o link Contato e o Menu */
}

.menu-item {
    cursor: pointer;
    color: white;
    font-size: 1.2em;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    left: 50%;
    transform: translate(-90%, 0);
    width: 220px;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.menu-item:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Estilos para os itens do submenu */
.submenu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.submenu a:hover {
    background-color: #007BFF;
    color: white;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .menu {
        margin-left: 0; /* Remover a margem esquerda em telas menores */
        text-align: left; /* Alinha o menu à esquerda */
        padding: 0 15px; /* Adiciona um pouco de espaçamento à esquerda e à direita */
    }

    .menu-item {
        font-size: 1em; /* Reduz o tamanho da fonte no menu */
    }

    .submenu {
        position: static; /* Coloca o submenu abaixo do menu para facilitar a navegação */
        width: 100%; /* Expande o submenu para ocupar toda a largura */
        transform: none; /* Remove o ajuste de posição */
        box-shadow: none; /* Remove sombra para visual mais simples */
        margin-top: 10px; /* Adiciona espaço entre o menu e submenu */
    }

    .submenu a {
        padding: 15px; /* Aumenta o espaçamento interno para facilitar o toque */
        font-size: 1em; /* Ajuste do tamanho da fonte dos itens do submenu */
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .menu-item {
        font-size: 0.9em; /* Reduz mais o tamanho da fonte para caber melhor */
    }

    .submenu a {
        font-size: 0.9em; /* Reduz o tamanho da fonte dos itens do submenu */
    }
}


/*Carrossel de fotos*/
.circle {
    width: 500px; /* Tamanho do círculo */
    height: 500px; /* Tamanho do círculo */
    background-color: red; /* Cor do círculo */
    border-radius: 50%; /* Forma circular */
    margin: 40px auto; /* Espaçamento acima e abaixo */
    float: right; /* Mover o círculo para a direita */
    margin-right: 80px; /* Aumenta o valor para mover mais para a esquerda */
}